# Xcode
*.xcworkspace
*.xcuserdata
*.xcuserstate
DerivedData
build/

# Swift Packages
.build/

# Swift PM
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# macOS Files
.DS_Store
